# URLs Amigáveis

<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteRule ^home/?$ index.php [NC,L]
    RewriteRule ^sobre/?$ sobre.php [NC,L]
    RewriteRule ^produtos/?$ produtos.php [NC,L]
    RewriteRule ^contato/?$ contato.php [NC,L]
</IfModule>